<script type="text/javascript" src="/javascripts/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/javascripts/crossfilter/crossfilter.min.js"></script>
<script type="text/javascript" src="/javascripts/d3/d3.min.js"></script>
<script type="text/javascript" src="/javascripts/highcharts/highcharts.js"></script>
<script type="text/javascript">
// Highcharts.setOptions({
// 	lang: {
// 		months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
// 		shortMonths: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
// 		weekdays: ['周日', '周一', '周二', '周三', '周四', '周五', '周六']
// 	}
// });
$(function(){
	// var toDictJson = function(kvPairList){
	// 	return _.reduce(kvPairList, function(results, item){
	// 		results[item.key] = item.value;
	// 		return results; 
	// 	}, {});
	// };
	
	var option = {
        title: { text: '' },
        credits: { enabled: false },
        exporting: { enabled: false },
        legend: { enabled: false },
        tooltip: { enabled: false },
        colors: ['#7cb5ec', '#434348', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#2b908f', '#f45b5b', '#91e8e1'],
        chart: {
			type: 'line',
            // width: width,
            // height: height,
			margin: [0, 0, 30, 0]
        },
        xAxis: {
            tickWidth: 0,
            startOnTick: true,
            endOnTick: true,
            lineColor: '#eee',
			type: 'datetime',
            labels: {
                padding: 0,
                rotation: 0,
                style: {
                    color: '#999',
                    fontWeight: 'normal',
                    textOverflow: 'none'
                }
            }
        },
        yAxis: {
            title: { text: '' },
			type: 'linear',
            gridLineWidth: 0,
			min: 0,
            plotLines: [],
			labels : { enabled: false }
        },
        plotOptions: {
            line: {
                enableMouseTracking: false,
                allowPointSelect: false,
                lineWidth: 1,
                marker: {
                    lineWidth: 0,
                    radius: 3
                }
            }
        }
    };
	
	$.ajax({
		type: 'GET',
		url: '/product/566e32b7b642d69c074e23b3/history',
		dataType: 'json',
		success: function (data) {
			var dataset = crossfilter(data);
			var dimension = {}, 
				group = {};
			dimension.source = dataset.dimension(function(item) { return item.source; });
			group.source = dimension.source.group().reduce(function(results, item){
				results._values.push(item.usetime);
				results.min = Math.min(Math.min.apply(this, results._values));
				results.max = Math.max(Math.max.apply(this, results._values));
				results.sum = parseInt(results.sum + item.usetime);
				results.count = parseInt(results.count + 1);
				results.average = parseInt(results.sum / results.count);
				return results;
			}, function(results, item){
				results._values.splice(_.indexOf(results._values, item.usetime), 1);
				results.min = Math.min(Math.min.apply(this, results._values));
				results.max = Math.max(Math.max.apply(this, results._values));
				results.sum = parseInt(results.sum - item.usetime);
				results.count = parseInt(results.count - 1);
				results.average = parseInt(results.sum / results.count);
				return results;
			}, function(){
				return { min: 0, max: 0, sum: 0, count: 0, average: 0, _values: [] };
			});
			
			var sourceGroup = group.source.top(Infinity);
			option.xAxis.tickInterval = 24 * 60 * 60 * 1000;
            option.xAxis.labels.formatter = function () {
				return Highcharts.dateFormat('%a', new Date(this.value));
            };
			_.each(sourceGroup, function(item, index){
				option.yAxis.plotLines.push({
					color: '#ccc',
					value: item.value.max,
					label: {
						text: '{value}(MAX)'.replace(/{value}/g, item.key),
						style: { color: '#ccc' }
					},
					dashStyle: 'Dot',
					width: 1
				});
			});
			option.series = _.map(sourceGroup, function (group, index) {
				return {
					animation: true,
					name: group.key,
					color: option.colors[index],
					marker: { lineColor: option.colors[index] },
					// zIndex: source.datas.length - index,
					data: _.map(dimension.source.filter(group.key).top(Infinity),function(item, index){
						return [(new Date(item.datetime)).getTime(), item.usetime];
					})
				};
			});
			
			$('#chart').highcharts(option);
		}
	});
});

</script>
<div class="container" style="opacity: 0.95;">
    <header></header>
	<div class="row">
		<div class="col-md-12">
            <div id="container" style="background-color: #fff;">
                <div class="row">
                    <div class="col-md-12">
                        <article>
                            <section class="index">
                                <cite>羽绒服外套</cite>
                                <ul class="tag">
                                    <li>JEEP</li>
                                    <li>吉普</li>
                                    <li>男装</li>
                                    <li>吉普</li>
                                    <li>秋冬</li>
                                    <li>商务休闲</li>
                                    <li>大码</li>
                                    <li>立领</li>
                                    <li>GW15WJ801</li>
                                    <li>K4</li>
                                    <li>180/96B(54)</li>
                                </ul>
                            </section>
                            <section class="content">
                                <cite>简介</cite>
                                <p>京东平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
                                <figure>
                                    <figcaption>整体效果</figcaption>
                                    <img src="http://img12.360buyimg.com/cms/jfs/t2218/35/1720027991/223041/6e651f91/56710d9dN710d8017.jpg" />
                                </figure>
                            </section>
                            <section class="content">
                                <cite>正面</cite>
                                <p>京东平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！</p>
                                <figure>
                                    <figcaption>整体效果</figcaption>
                                    <img src="http://img30.360buyimg.com/popWaterMark/jfs/t2371/252/444019340/26712/e0bc1cd1/560b4c8cN44ce3fb4.jpg" />
                                </figure>
                            </section>
                            <section class="content">
                                <cite>引用自</cite>
                                <blockquote cite="http://item.jd.com/1765466541.html">
                                    <p>http://item.jd.com/1765466541.html</p>
                                    <p>http://item.jd.com/1765466541.html</p>
                                </blockquote>
                            </section>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="property">
                                <div class="icon"><i class="fa fa-at"></i></div>
                                <div class="text">JD</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-cny"></i></div>
                                <div class="text">{{data.price.jd}}</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-calendar"></i></div>
                                <div class="text">{{format data.datetime.jd "MMMM DD"}}&nbsp;|{{format data.datetime.jd "dddd"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="property">
                                <div class="icon"><i class="fa fa-at"></i></div>
                                <div class="text">TMALL</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-cny"></i></div>
                                <div class="text">{{data.price.tmall}}</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-calendar"></i></div>
                                <div class="text">{{format data.datetime.tmall "MMMM DD"}}&nbsp;|{{format data.datetime.tmall "dddd"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="property">
                                <div class="icon"><i class="fa fa-at"></i></div>
                                <div class="text">AMAZON</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-cny"></i></div>
                                <div class="text">{{data.price.amazon}}</div>
                            </div>
                            <div class="property">
                                <div class="icon"><i class="fa fa-calendar"></i></div>
                                <div class="text">{{format data.datetime.amazon "MMMM DD"}}&nbsp;|{{format data.datetime.amazon "dddd"}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="chart">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <footer>
        <h5>usetime:{{{data.allusetime}}}</h5>
    </footer>
</div>